* {
  margin: 0;
  padding: 0;
  background-color: black;
}
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section {
  margin: 2rem 0 1rem 0;
}
.controls{
  display: flex;
  align-items: center;
  flex-direction: column;
}
input {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: whitesmoke;
  color:brown;
}
button {
  padding: 0.5rem 1rem;
  background-color: wheat;
  color:brown;
  border: none;
  font-size: 1rem;
}
button:hover {
  cursor: pointer;
  background-color: white;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mealtitle {
  text-align:center;
  margin-bottom: 2rem
}
.nutrients ul {
  display: flex;
  width: 35rem;
  justify-content:space-evenly;
  color: bisque;
}
.header h1 {
  color: white;
  font-size: 2em;
}
ul {
  list-style:none
}
li {
  color: white;
  line-height: 1.5em;
}
.meals {
  display: flex;
}
img {
  width:100%;
  margin-bottom: 1rem;
}
article {
  display: flex;
  flex-direction: column;
  padding:2rem;
  margin: 0 1rem;
  max-width: 18rem;
  box-shadow: 0 4px 8px 2px rgba(77,77,77,0.15);
}
a {
  text-decoration: none;
  color: wheat;
  width: fit-content;
  padding: 0.5rem 1rem;
}
table,th,td {
  color: aliceblue;
  border: 1px double wheat;
  text-align: center;
  width: 60vw;
  font-size: 1.05em;
}

@media only screen and (max-width:550px){
  .meals {
    flex-direction: column;
    align-items:center;

  }
  .nutrients ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
